{
  "extends": [
    "stylelint-config-rational-order",
    "stylelint-config-standard-scss",
    "stylelint-config-recommended",
    "stylelint-config-idiomatic-order",
    "./node_modules/prettier-stylelint/config.js"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "alpha-value-notation": "number",
    "at-rule-no-unknown": null,
    "at-rule-no-vendor-prefix": true,
    "color-function-notation": "legacy",
    "color-hex-case": "lower",
    "color-named": "never",
    "font-family-no-missing-generic-family-keyword": [
      true
    ],
    "font-weight-notation": "numeric",
    "function-name-case": [
      "lower",
      {
        "ignoreFunctions": [
          "Min",
          "Max"
        ]
      }
    ],
    "function-url-quotes": "always",
    "no-empty-first-line": true,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "font-smooth"
        ]
      }
    ],
    "selector-class-pattern": null,
    "string-quotes": "double",
    "scss/at-else-if-parentheses-space-before": "always",
    "scss/at-extend-no-missing-placeholder": null,
    "scss/at-function-parentheses-space-before": "never",
    "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-if-closing-brace-space-after": "always-intermediate",
    "scss/at-mixin-argumentless-call-parentheses": "never",
    "scss/at-mixin-named-arguments": "never",
    "scss/at-mixin-parentheses-space-before": "never",
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-colon-newline-after": "always-multi-line",
    "scss/dollar-variable-colon-space-after": "always",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-empty-line-after": [
      "always",
      {
        "except": [
          "before-dollar-variable"
        ]
      }
    ],
    "scss/dollar-variable-first-in-block": [
      true,
      {
        "ignore": [
          "comments",
          "imports"
        ]
      },
      {
        "except": [
          "root",
          "at-rule",
          "function",
          "mixin",
          "if-else",
          "loops"
        ]
      }
    ],
    "scss/double-slash-comment-whitespace-inside": "always",
    "scss/no-global-function-names": null
  }
}
