<header class="container">
  <a href="#" class="logo">Angular video portal</a>
  <nav aria-label="User menu">
    <ul class="user-nav">
      <li class="user-nav-item">
        <button type="button" class="btn btn-icon">
          <span class="material-symbols-outlined">
            account_circle
          </span>
          User login
        </button>
      </li>
      <li class="user-nav-item">
        <button type="button" class="btn btn-icon">
          <span class="material-symbols-outlined">
            login
          </span>
          User login
        </button>
      </li>
      <li class="user-nav-item">
        <button type="button" class="btn btn-icon">
          <span class="material-symbols-outlined">
            logout
          </span>
          Logout
        </button>
      </li>
    </ul>
  </nav>
</header>
