.btn {
  background-color: transparent;
  border: none;
  padding: 8px;
  color: var(--color-text);
  cursor: pointer;

  &:hover {
    color: var(--color-text-active);
  }

  &:focus {
    @extend %focus;
  }

  &-icon {
    display: flex;
    align-items: center;
    font-size: 0;
    line-height: 0;
  }
}
