@import '~reset.css';

@import 'assets/scss/main';

:root {
  color-scheme: light dark;
}

html {
  --font-family: 'Open Sans', sans-serif;
  // Common colors
  --color-common-bg: #f3f3f3;
  --color-common-bg-2: #fff;
  // Logo colors
  --color-logo-bg: #3c9971;
  // Link colors
  --color-text: #1c1c1c;
  --color-text-active: #3c9971;
  // Input colors
  --color-input-bg: #f3f3f3;
  --color-input-bg-active: #fff;
  --color-input-border: #e8e8e8;
  --color-input-border-active: #3c9971;
  --color-input-text: #1c1c1c;
  // Focus colors
  --color-focus-border: #3c9971;
  // Course
  --color-course-bg: #f3f3f3;
  --color-course-control-bg: linear-gradient(90deg, transparent 0%, #f3f3f3 10%, #f3f3f3 100%);

  // @media (prefers-color-scheme: dark) {
  //   --color-common-bg: red;
  // }
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: var(--color-common-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: 1.125;
}

a {
  color: var(--color-text);
  transition: color 300ms ease;
  text-decoration: none;

  &:hover {
    color: var(--color-text-active);
    transition: color 300ms ease;
    text-decoration: underline;
  }

  &:focus {
    @extend %focus;
  }
}

/*
 * Icons
 *  https://fonts.google.com/icons?icon.style=Outlined
 */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 9px;
  background-color: var(--color-common-bg-2);
  box-shadow: 0 0 6px -4px var(--color-text);
}
